/* ==========================================================================
   DEMO / COMPONENTS
   ========================================================================== */

.section {
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    h1,
    p {
        text-align: center;
    }
}
