/* ==========================================================================
   exercice grid corrige / component
   ========================================================================== */

.main-grid {
    --ex-grid-gap: 40px;

    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    align-items: flex-start;
}

.card {
    border: 5px var(--color-primary) solid;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition: transform 0.3s ease-out, filter 0.3s ease-out;
    transform: translateY(0);
    filter: grayscale(1);

    header {
        background: var(--color-primary);
        display: flex;
        justify-content: center;
        padding: 20px;
        position: relative;
        z-index: 2;
    }
    h2 {
        margin: 0;
        font-weight: 400;
    }
    p {
        color: var(--color-primary);
        padding: 20px;
        text-align: left;
    }
    
    .content {
        display: flex;
        align-items: center;
        position: absolute;
        visibility: hidden;

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 0;
            aspect-ratio: 1 / 1;
            transition: 0.4s all ease-out;
            filter: blur(10px);
            transform: scale(1.5);
            opacity: 0;
        }
    }

    .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        transition: transform .2s cubic-bezier( 0.175,  0.885,  0.320,  1.275 );;
        transform: translateY(-50%);
    }

    &:not(.is-active):hover {
        transform: translateY(-10px);
    }

    &.is-active {
        filter: grayscale(0);

        .header {
            background-color: var(--color-primary);
        }

        .icon {
            transform: translateY(-50%) rotate(45deg) scale(2);
        }

        .content {
            position: relative;
            visibility: visible;
            z-index: 1;
            img {
                transform: scale(1);
                filter: blur(0);
                opacity: 1;
            }
        }
    }
    
}

.options {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    gap: 40px;
}
